/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font-family);
  font-variation-settings: "wght" var(--main-font-weight);
  /* font-size: var(--main-font-size); */
  background-image: var(--page-background-gradient);
  background-attachment: fixed;
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 11px;
  width: var(--content-width);
  background-color: var(--content-bg-color);
  border: var(--content-border);
  height: clamp(327px, 38vw, 368px);
  text-align: center;;
  font-family: var(--accent-font-family);
  margin: 100px 0;
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(49px, 2.71rem + 1.50vw, 65px);
  white-space: nowrap;
}

.header__subtitle {
  font-size: clamp(14px, 0.68rem + 0.85vw, 23px);
}

.card {
  width: var(--content-width);
  background-color: var(--content-bg-color);
  border: var(--content-border);
  margin-bottom: 52px;
}

.card__title {
  font-size: 18px;
  font-variation-settings: "wght" var(--title-font-weight);
  margin: 4px 10px;
}

.card__image {
  display: block;
  inline-size: 100%;
  block-size: auto;
}

.card__image_zero-sprint {
  filter: none;
}

.card__image_first-sprint-start {
  filter: hue-rotate(35deg) saturate(0.3) contrast(0.7);
}

.card__image_first-sprint-end {
  filter: contrast(1.5) brightness(1.5);
}

.card__image_second-sprint-start {
  filter: hue-rotate(40deg) saturate(0.8) contrast(0.9);
}

.card__image_second-sprint-end {
  filter: invert(1) brightness(1.0) contrast(0.5);
}

.card__image_third-sprint-start {
  filter: sepia(0.75);
}

.card__image_third-sprint-end {
  filter: blur(10px);
}

.card__image_fourth-sprint {
  filter: blur(1px) hue-rotate(60deg) contrast(0.6) brightness(1.1);
}

.card__image-wrap {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  border-block-start: var(--content-border);
  border-block-end: var(--content-border);
}

.card__image-wrap::after {
  content: attr(data-label);
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  font-family: var(--accent-font-family);
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 var(--label-stroke-color),
    0 1px var(--label-stroke-color),
    1px 0 var(--label-stroke-color),
    0 -1px var(--label-stroke-color);
}

@supports (-webkit-text-stroke: 1px var(--label-stroke-color)) {
  .card__image-wrap::after {
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-shadow: none;
  }
}

.card__description{
  margin: 25px;
  font-size: 18px;
  line-height: 21px;
}

.card__description p:not(:last-of-type){
  margin-bottom: 25px;
}

.like_buttons {
  display: flex;
  justify-content: flex-end;
  column-gap: 7px;
  margin: 25px;
}

.button {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  font-family: var(--accent-font-family);
  font-size: 14px;
  padding: 8px 35px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--button-fill-color);
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.floppy-icon {
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 #000;
}


.card__save-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  /* inline-size: fit-content; */
  /* max-inline-size: 100%; */
  margin-inline: auto;
  margin-block-end: 200px;
  padding: 15px 20px;
  
}

/* КНОПКА-СЕРДЕЧКО */
.card__icon-button {
  padding: 0;
  border: none;
  background: transparent;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: #000;
}

.like-icon {
  width: 39px;
  height: 36px;
  transform-origin: center;
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--heart-hover-color);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--heart-hover-color);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--heart-like-color);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--heart-like-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--heart-like-color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-like-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-like-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s 1;
}

.like-icon.is-liked .sparks {
  animation: sparks-fade 0.3s ease-in 0.3s 1;
}

/* ДИАЛОГОВОЕ ОКНО */
dialog:not([open]) {
  display: none;
}

.dialog__insert-floppy {
  position: fixed;
  inset: 0;
  margin: auto;
  border-width: var(--content-border);
  max-inline-size: 353px;
  min-inline-size: 341px;
  padding: 30px 40px;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-areas:
    "icon title"
    "button button";
  align-items: center;
  column-gap: 20px;
  row-gap: 30px;
}

.dialog__floppy-icon {
  inline-size: 39px;
  block-size: 39px;
  grid-area: icon;
}

.dialog__insert-floppy_title {
  grid-area: title;
  font-family: var(--accent-font-family);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 150%;
  row-gap: 30px;
  column-gap: 20px;
}

.dialog__insert-floppy_ok-button {
  grid-area: button;
}

.dialog__insert-floppy::backdrop {
  background-color: rgb(0 0 0 / 0.7);
} 

@media (width <= 375px) {
  .card__save-button {
    flex-direction: column;
    margin-block-end: 100px;
  }
}


